<div class="contenedor">
  <mat-toolbar>
    <span>Crear Producto</span>
  </mat-toolbar>

  <mat-card class="producto">
'   Crear Producto
    <form [formGroup] = "form" (ngSubmit)="crearProducto()">

      <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Id</mat-label>
            <input matInput autocomplete="off" formControlName="id">
          </mat-form-field>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="5">
          <img src="./assets/pastillas.jpg">
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Nombre</mat-label>
            <input matInput autocomplete="off"  formControlName="nombre">
          </mat-form-field>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Descripcion</mat-label>
            <input matInput autocomplete="off"  formControlName="descripcion">
          </mat-form-field>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Valor</mat-label>
            <mat-select  formControlName="valor">
              <mat-option *ngFor="let item of foods" [value]="item">
                {{item}}
              </mat-option>
            </mat-select >
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Imagen</mat-label>
            <input matInput autocomplete="off"   formControlName="imagen">
          </mat-form-field>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button (click)="regresar()" mat-raised-button style="margin-right: 20px ;">Volver</button>
          <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Aceptar</button>

        </mat-grid-tile>

      </mat-grid-list>


    </form>
  </mat-card>

</div>
